.back {
    background-image: url("/static/images/dashboard_image.jpeg");
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.why span {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
}

.how_why {
    font-size: 17rem !important;
}

.one {
    font-size: 5em !important;
}

.blue-background {
    background-color: #1A84E7!important;
}

.text-blue {
    color: #1A84E7 !important;
}

.back-form {
    background-image: url("/static/images/4-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.image-color {
    background-color: rgb(0 0 0 / 78%);
    opacity: 0.9;
}

img {
    height: 19vh;
}

.nav-text {
    color: rgba(0, 0, 0, 0.9) !important;
}

.logo-size {
    font-size: 2em;
}

textarea {
    height: 38vh;
}

.move-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: #1A84E7;
    z-index: 1;
}


/* .instant-block {
    height: 37vh !important;
} */


/* .paddingleft {
    padding-left: 18rem !important;
} */