{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <script src="{% static 'admin/bootstrap.bundle.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap/jquery.dataTables.css' %}">
    <script src="{% static 'admin/jquery.min.js' %}"></script>
    <script src="{% static 'admin/jquery.dataTables.js' %}"></script>
</head>

<body>
    <div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand ms-4" href="#">Jira Software</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-2">
            <nav class="nav flex-column">
                <div id="list-example" class="list-group">
                    <a class="nav-link active list-group-item list-group-item-action" aria-current="page" href="{% url 'dasboard' %}">Dashboard</a>
                    <a class="nav-link list-group-item list-group-item-action" href="{% url 'projects' %}">Projects</a>
                    <a class="nav-link list-group-item list-group-item-action" href="{% url 'issues' %}">Issues</a>
                </div>
            </nav>
        </div>
        {% block content %} {% endblock %}
    </div>
</body>
{% block extra_js %}{% endblock extra_js %}

</html>