{% extends "base.html" %} {% load static %}{% block content %}
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Issues</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <span class="text-danger"> {% for error in issues_form.non_field_errors %} {{error}} {% endfor %}</span>
                <form action="{% url 'issues' %}" id="issue_form" method="post">
                    {% csrf_token %}
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Project <small class="text-danger">*</small></label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{issues_form.project}} <span class="text-danger">{{issues_form.errors.project}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Assigned To <small class="text-danger">*</small></label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{issues_form.assigned_to}}<span class="text-danger">{{issues_form.errors.assigned_to}}</span>
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Priority <small class="text-danger">*</small></label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{issues_form.priority}}<span class="text-danger">{{issues_form.errors.priority}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Title <small class="text-danger">*</small></label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{issues_form.title}}<span class="text-danger">{{issues_form.errors.title}}</span>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="mb-3">
                        <div class="row">
                            <label for="message-text" class="col-form-label">Message <small class="text-danger">*</small></label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{issues_form.description}}<span class="text-danger">{{issues_form.errors.description}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Status <small class="text-danger">*</small></label>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                {{issues_form.status}}
                                <span class="text-danger">{{issues_form.errors.status}}</span>
                            </div>
                            <div class="col-6"></div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Start Date</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="date" class="form-control" name="start_date" id="start_date" placeholder="Start Date"> <span class="text-danger">{{issues_form.errors.start_date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">End Date</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <input type="date" class="form-control" name="start_date" id="end_date" placeholder="End Date"><span class="text-danger"> {{issues_form.errors.start_date}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <label for="recipient-name" class="col-form-label">Estimated Time</label>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                {{issues_form.estimated_time}} {{issues_form.errors.estimated_time}}
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer pe-0">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary me-0">Add</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<div class='col-10'>
    <button type="button" class="btn btn-primary float-end my-3" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">Add Issues</button>
    <table class="table table-responsive" id='issue_table'>
        <thead>
            <tr>
                <th scope="col">Project</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th scope="col">Title</th>
                <th scope="col">Priority</th>
                <th scope="col">Estimated_time</th>
                <th scope="col">Assigned To</th>
                <th scope="col">Start Date</th>
                <th scope="col">End Date</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>

</div>
{% endblock %} {% block extra_js %}
<script type="text/javascript">
    $(document).ready(function(e) {
        $('#exampleModal').on('hide.bs.modal', function() {
            $('.text-danger').hide()
            $('#issue_form').trigger("reset");
        })
        var oTable = $('#issue_table').dataTable({
            dom: "<'row'<'col-sm-6'B><'col-sm-6'f>>" +
                "<'row'<'col-sm-12'tr>>" +
                "<'row'<'col-sm-1 mt-2'l><'col-sm-4 text-left pl-5'i><'col-sm-7 mt-2'p>>",
            "processing": true,
            "serverSide": true,
            "ajax": "{% url 'issues_list' %}"
        });
    });
</script>
<script src="{% static 'custom_js/custom.js' %}"></script>
{% endblock extra_js %}