{% extends "timepass.html" %} {% load static %} {% block content %}


<div class="container mb-5 mt-3">
    <h4>UPDATE PSP BANK</h4>
</div>
<div class="container bg-white p-5">
    <div class="row g-3 align-items-center mb-4">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4">
            <label class="form-text mb-2">PSP Name:<span class="text-danger">*</span></label>
            <input type="text" id="inputPassword6" class="form-control rounded-0    " aria-describedby="passwordHelpInline">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Account:<span class="text-danger">*</span></label>
            <select id="disabledSelect form-text" class="form-select">
                    <option class="text-muted">1-15391 -Emerchant GBP test</option>
                  </select>
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Email:</label>
            <input type="email" id="inputPassword6" class="form-control rounded-0   " aria-describedby="passwordHelpInline">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Description:</label>
            <input type="text" id="inputPassword6" class="form-control rounded-0    " aria-describedby="passwordHelpInline">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Address:</label>
            <input type="text" id="inputPassword6" class="form-control rounded-0    " aria-describedby="passwordHelpInline">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Phone Number:</label>
            <input type="text" id="inputPassword6" class="form-control rounded-0    " aria-describedby="passwordHelpInline">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Cut Off Time:<span class="text-danger">*</span></label>
            <input type="text" id="inputPassword6" class="form-control rounded-0    " aria-describedby="passwordHelpInline">
        </div>
        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <label class="form-text mb-2">Status:</label>
            <select id="disabledSelect form-text" class="form-select rounded-0  ">
                    <option class="text-muted">Active</option>
                  </select>
        </div>
    </div>
    <h5>Transactions Data Filters</h5>
    <div class="row mt-4 mb-5">
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class="row">
                <label class="form-text mb-2">Filter1:</label>
                <div class="col-6">
                    <input type="text" id="inputPassword6" placeholder="Column Name" class="form-control rounded-0  " aria-describedby="passwordHelpInline">
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" placeholder="Column Value" class="form-control rounded-0 " aria-describedby="passwordHelpInline">
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
            <div class="row">
                <label class="form-text mb-2">Status:</label>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control rounded-0    " value="Terminal" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-6">
                    <input type="text" id="inputPassword6" class="form-control rounded-0    " value="FPMarketsINT-FIRSTPRU" aria-describedby="passwordHelpInline">
                </div>
            </div>
        </div>
    </div>

    <h5>Data Schema Mapping</h5>
    <div class="row mb-5 mt-4">
        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <label class="form-text fw-bold mb-3">ATLAS Data Model:</label>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">debit_amount</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">credit_amount</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">customer_name</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">customer_email</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">transaction_number</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">transaction_datetime</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Select...</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Select...</option>
                          </select>
                </div>
                <div class="col-12 col-md-6 col-lg-6">
                    <label class="form-text fw-bold mb-3">PSP Data Model</label>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Amount (with decimal mark)</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Amount (with decimal mark)</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Card Holder</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Customer Email</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Merchant Transaction id</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">DateTime(UTC)</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Select...</option>
                          </select>
                    <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                            <option class="text-muted">Active</option>
                          </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-6">
            <div class="row">
                <label class="form-text fw-bold mb-2">Credit Amount Filters</label>
                <div class="col-6 mb-3">
                    <label class="form-text mb-2">Filter 1:</label>
                    <input type="text" id="inputPassword6" class="form-control rounded-0" value="Type" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-6 mb-3">
                    <label class="form-text mb-2">Filter 2:</label>
                    <input type="text" id="inputPassword6" class="form-control rounded-0" value="Status" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-6 mb-3">
                    <textarea class="form-control rounded-0 " id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-6">
                    <textarea class="form-control rounded-0 " id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
            <div class="row">
                <label class="form-text fw-bold mb-2">Debit Amount Filters</label>
                <div class="col-6 mb-3">
                    <label class="form-text mb-2">Filter 1:</label>
                    <input type="text" id="inputPassword6" class="form-control rounded-0    " value="Type" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-6 mb-3">
                    <label class="form-text mb-2">Filter 2:</label>
                    <input type="text" id="inputPassword6" class="form-control rounded-0    " value="Status" aria-describedby="passwordHelpInline">
                </div>
                <div class="col-6 mb-3">
                    <textarea class="form-control rounded-0 " id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
                <div class="col-6">
                    <textarea class="form-control rounded-0 " id="exampleFormControlTextarea1" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <h5>Data Matching Sequence</h5>
    <div class="mb-5 mt-4">
        <div class="row">
            <div class="col-12 col-md-4 col-md-4">
                <label class="form-text mb-3 fw-bold">ATLAS Data Models:</label>
                <div class="row">
                    <div class="col-12">
                        <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                                <option class="text-muted">transaction_number</option>
                            </select>
                        <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                                <option class="text-muted">debit_amount</option>
                            </select>
                        <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                                <option class="text-muted">credit_amount</option>
                            </select>
                        <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                                <option class="text-muted">customer_name</option>
                            </select>
                        <select id="disabledSelect form-text" class="form-select mb-3 rounded-0 ">
                                <option class="text-muted">customer_email</option>
                            </select>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <label class="form-text mb-3 fw-bold">PSP Data Models:</label>
                <div class="card overflow-auto h-75 text-muted ps-2">
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked1">
                            <label class="form-check-label" for="flexCheckChecked1">Terminal</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                            <label class="form-check-label" for="flexCheckChecked2">satatus</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                            <label class="form-check-label" for="flexCheckChecked2">satatus</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                            <label class="form-check-label" for="flexCheckChecked2">satatus</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked2">
                            <label class="form-check-label" for="flexCheckChecked2">satatus</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked3">
                            <label class="form-check-label" for="flexCheckChecked3">type</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked4">
                            <label class="form-check-label" for="flexCheckChecked4">Merchant</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked5">
                            <label class="form-check-label" for="flexCheckChecked5">currency</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked6">
                            <label class="form-check-label" for="flexCheckChecked6">card holder</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked7">
                            <label class="form-check-label" for="flexCheckChecked7">card Brand</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked8">
                            <label class="form-check-label" for="flexCheckChecked8">Checked checkbox</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked9">
                            <label class="form-check-label" for="flexCheckChecked9">Checked checkbox</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked10">
                            <label class="form-check-label" for="flexCheckChecked10">Checked checkbox</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked11">
                            <label class="form-check-label" for="flexCheckChecked11">Checked checkbox</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked12">
                            <label class="form-check-label" for="flexCheckChecked12">Checked checkbox</label>
                        </div>
                    </div>
                    <div class="row w-100">
                        <div class="col">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked13">
                            <label class="form-check-label" for="flexCheckChecked13">Checked checkbox</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" class="btn btn-primary rounded-0 me-4">Submit</button>
    <button type="button" class="btn btn-secondary rounded-0">Cancel</button>
</div>


</html>{% endblock %}