{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_css/style.css' %}">
    <!-- <script src="{% static 'js/bootstrap/bootstrap.js' %}"></script> -->
    <script src="{% static 'js/bootstrap/bootstrap.bundle.js' %}"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white">
            <div class="container p-0">
                <a class="navbar-brand fw-bold" href="#" id="title">
                    <h2><strong>ATLAS</strong></h2>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown border border-secondary border-color me-4">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">STV</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown border border-secondary border-color">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Chad</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <hr class="m-0">
        <nav class="bg-white py-3">
            <div class="container">
                <div class="row text-center">
                    <div class="col-2 border border-secondary border-color" id="dashboard">
                        <div class="dropdown">
                            <button class="btn text-white" type="button">DASHBOARD</button>
                        </div>
                    </div>
                    <div class="col-2 border border-secondary border-color">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">ACCOUNTS</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="{% url 'datatables' %}">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 border border-secondary border-color">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">TRANSATION</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 border border-secondary border-color">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">REPORTS</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 border border-secondary border-color">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">INVOICES</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 border border-secondary border-color">
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">RECONCILIATION</button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="col-12">
        <div class="row mx-5">
            <div class="container-fluid mb-5 mt-3">
                <h4>VALIDATE RECONCILIATION</h4>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="row mx-5">
            <div class="container-fluid  bg-white p-5">
                <div class="col-12">
                    <div class="row">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2">
                                    <label for="">PSP Name</label>
                                </div>
                                <div class="col-3">
                                    <h6>Emerchant GBP test</h6>
                                </div>
                            </div>
                            <div class="row me-3">
                                <div class="col-2">
                                    <label for="">PSP Email</label>
                                </div>
                                <div class="col-3">
                                    <h6>None</h6>
                                </div>
                            </div>
                            <div class="row me-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <th scope="col" colspan="3" id="tableheading">PSP BALANCE</th>
                                        <!-- <th scope="col" id="tableheading"></th>
                                        <th scope="col" id="tableheading"></th> -->
                                        </tr>
                                        <tr>
                                            <th scope="col" id="tablesubheadning">OPENING BALANCE</th>
                                            <th scope="col" id="tablesubheadning">CLAOSING BALANCE</th>
                                            <th scope="col" id="tablesubheadning">BALANCE DIFFERENCE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row me-3">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <th scope="col" colspan="4" id="tableheading">PSP TRANSACTIONS</th>
                                        <!-- <th scope="col" id="tableheading"></th>
                                        <th scope="col" id="tableheading"></th> -->
                                        </tr>
                                        <tr>
                                            <th scope="col" id="tablesubheadning">REFERENCE #</th>
                                            <th scope="col" id="tablesubheadning">DEBIT</th>
                                            <th scope="col" id="tablesubheadning">CREDIT</th>
                                            <th scope="col" id="tablesubheadning">COMMENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="row me-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" colspan="4" class="third-table">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" colspan="3"> 2</th>
                                            <td>Jacob</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3">3</th>
                                            <td>Larry the Bird</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="col-6">
                            <div class="row">
                                <div class="col-2">
                                    <label for="">PSP Name</label>
                                </div>
                                <div class="col-3">
                                    <h6>Emerchant GBP test</h6>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-2">
                                    <label for="">PSP Email</label>
                                </div>
                                <div class="col-3">
                                    <h6>None</h6>
                                </div>
                            </div>
                            <div class="row ms-2">
                                <table class="table table-bordered">
                                    <thead>
                                        <th scope="col" colspan="3" id="tableheading">ATLAS BALANCE</th>
                                        <!-- <th scope="col" id="tableheading"></th>
                                        <th scope="col" id="tableheading"></th> -->
                                        </tr>
                                        <tr>
                                            <th scope="col" id="tablesubheadning">OPENING BALANCE</th>
                                            <th scope="col" id="tablesubheadning">CLAOSING BALANCE</th>
                                            <th scope="col" id="tablesubheadning">BALANCE DIFFERENCE</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row ms-2">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                        <th scope="col" colspan="4" id="tableheading">ATLAS TRANSACTIONS</th>
                                        <!-- <th scope="col" id="tableheading"></th>
                                        <th scope="col" id="tableheading"></th> -->
                                        </tr>
                                        <tr>
                                            <th scope="col" id="tablesubheadning">REFERENCE #</th>
                                            <th scope="col" id="tablesubheadning">DEBIT</th>
                                            <th scope="col" id="tablesubheadning">CREDIT</th>
                                            <th scope="col" id="tablesubheadning">COMMENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                        <tr>
                                            <th scope="row">0</th>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                            <td>-7773.04</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row ms-2">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" colspan="4" class="third-table">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" colspan="3"> 2</th>
                                            <td>Jacob</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3">3</th>
                                            <td>Larry the Bird</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row text-center row-full">
                        <div class="col-12">
                            <b>
                               Closing balance difference investigation
                           </b>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <div class="row me-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <th scope="col" colspan="4" id="tableheading">PSP TRANSACTIONS TO BE AMENDED</th>
                                        <!-- <th scope="col" id="tableheading"></th>
                                    <th scope="col" id="tableheading"></th> -->
                                        </tr>
                                        <tr>
                                            <th scope="col" id="tablesubheadning">REFERENCE #</th>
                                            <th scope="col" id="tablesubheadning">DEBIT</th>
                                            <th scope="col" id="tablesubheadning">CREDIT</th>
                                            <th scope="col" id="tablesubheadning">COMMENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>


                            <div class="row me-3">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" colspan="4" class="third-table">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" colspan="3"> 2</th>
                                            <td>Jacob</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3">3</th>
                                            <td>Larry the Bird</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row ms-2">
                                <table class="table table-bordered">
                                    <thead>
                                        <th scope="col" colspan="4" id="tableheading">ATLAS TRANSACTIONS TO BE AMENDED</th>
                                        <!-- <th scope="col" id="tableheading"></th>
                                    <th scope="col" id="tableheading"></th> -->
                                        </tr>
                                        <tr>
                                            <th scope="col" id="tablesubheadning">REFERENCE #</th>
                                            <th scope="col" id="tablesubheadning">DEBIT</th>
                                            <th scope="col" id="tablesubheadning">CREDIT</th>
                                            <th scope="col" id="tablesubheadning">COMMENT</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row"></th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <th scope="row"></th>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>

                            <div class="row ms-2">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col" colspan="4" class="third-table">#</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row" colspan="3"> 2</th>
                                            <td>Jacob</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3">3</th>
                                            <td>Larry the Bird</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3">3</th>
                                            <td>Larry the Bird</td>
                                        </tr>
                                        <tr>
                                            <th scope="row" colspan="3">3</th>
                                            <td>Larry the Bird</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="row ms-2">
                                <form>
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Viewed By...">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <div class="form-group">
                                                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Date Approved By...">
                                            </div>
                                        </div>
                                        <div class="col-3">
                                            <button type="submit" class="btn btn-primary">Submit Reconciliation</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- <footer class="positon-fixed bottom-0">
    <div class="mt-3 p-3" id="footer">
        <div class="container">
            <div class="row">
                <div class="col text-muted p-0">{% now 'Y' %} Copyright. All Rights Reserved.</div>
                <div class="col"></div>
                <div class="col"></div>
                <div class="col text-muted text-end p-0">Accounting Software.</div>
            </div>
        </div>
    </div>
</footer> -->

</html>